<?php

class User extends AbstractModel {
  public $name ;
  public $login ;
  public $password ;
  public $active ;

  protected function getTable() { return 'users'; }
  protected function getClass() { return __CLASS__; }

  public function __construct($opts = array()) {

    $params = array_merge(array(
      'id' => -1,
      'name' => '',
      'login' => '',
      'password' => '',
      'active' => 0,
    ), $opts);

    $this->id       = $params['id'];
    $this->name     = $params['name'];
    $this->login    = $params['login'];
    $this->password = $params['password'];
    $this->active   = $params['active'];

  }


  public static function authenticate($login, $password) {
    $user = self::findByQuery(array('login' => $login, 'password' => md5($password), 'active' => 1), TRUE);

    return $user;
  }
}
